@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

html {
        position: relative;
        min-height: 100%;
}

body {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 1080px;
        margin: auto;
        border: 0px solid #000;
        background-color: #081c15;
        font-family: Arial, Helvetica, sans-serif;
        background-image: linear-gradient(#2d6a4f, #081c15);
}

footer {
        position: relative;
        text-align: right;
        color: #fffaec;
}

.navbar {
        z-index: 1;
        background-color: #081c15;
        border: 0px solid #081c15;
        border-radius: 2px;
        box-shadow: 2px 4px 16px 2px #081c15;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400px;
        font-size: 18pt;
}

.top-level-navbar {
        list-style: none;
        padding-left: 32px;
        margin: 0;
        border: 0px solid #081c15;
}

.top-level-navbar > li {
        position: relative;
        float: left;
        height: 50px;
        width: 150px;
        background: #081c15;
        text-align: left;
}

.top-level-navbar > li:hover {
        background: #2d6a4f;
}

.top-level-navbar li:hover > ul {
        display: inline;
}

.top-level-navbar a {
    color: #fffaec;
    text-decoration: none;
    padding: 8px 8px;
    display: block;
    line-height: 30px;
}

.top-level-navbar a:hover { 
        color: #fffaec; 
}

.second-level-navbar {
    position: absolute;
    top: 50px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border: 0px solid #fffaec;
    border-radius: 2px;
    box-shadow: 2px 4px 16px 2px #081c15;
    font-size: 12pt;
}

.second-level-navbar > li {
    position: relative;
    height: 50px;
    background: #081c15;
}
.second-level-navbar > li:hover { 
        background: #2d6a4f; 
}

.third-level-navbar {
    position: absolute;
    top: 0px;
    right: -400px;
    width: 400px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    border: 0px solid #fffaec;
    border-radius: 2px;
    box-shadow: 2px 4px 16px 2px #081c15;
}

.third-level-navbar > li {
    height: 50px;
    background: #081c15;
}

.third-level-navbar > li:hover { 
        background: #2d6a4f; 
}

/* hu */
.top-level-navbar-hu {
        list-style: none;
        padding-left: 32px;
        margin: 0;
        border: 0px solid #081c15;
}

.top-level-navbar-hu > li {
        position: relative;
        float: left;
        height: 50px;
        width: 180px;
        background: #081c15;
        text-align: left;
}

.top-level-navbar-hu > li:hover {
        background: #2d6a4f;
}

.top-level-navbar-hu li:hover > ul {
        display: inline;
}

.top-level-navbar-hu a {
        color: #fffaec;
        text-decoration: none;
        padding: 8px 8px;
        display: block;
        line-height: 30px;
}

.second-level-navbar-hu {
        position: absolute;
        top: 50px;
        left: 0;
        width: 180px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        border: 0px solid #fffaec;
        border-radius: 2px;
        box-shadow: 2px 4px 16px 2px #081c15;
        font-size: 12pt;
}
    
.second-level-navbar-hu > li {
        position: relative;
        height: 50px;
        background: #081c15;
}
.second-level-navbar-hu > li:hover { 
        background: #2d6a4f; 
}
    
.third-level-navbar-hu {
        position: absolute;
        top: 0px;
        right: -300px;
        width: 300px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        border: 0px solid #fffaec;
        border-radius: 2px;
        box-shadow: 2px 4px 16px 2px #081c15;
}

.third-level-navbar-ragasztott-hu {
        position: absolute;
        top: 0px;
        right: -200px;
        width: 200px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        border: 0px solid #fffaec;
        border-radius: 2px;
        box-shadow: 2px 4px 16px 2px #081c15;
}

.third-level-navbar-kategoria-hu {
        position: absolute;
        top: 0px;
        right: -100px;
        width: 100px;
        list-style: none;
        padding: 0;
        margin: 0;
        display: none;
        border: 0px solid #fffaec;
        border-radius: 2px;
        box-shadow: 2px 4px 16px 2px #081c15;
}
    
.third-level-navbar-hu > li {
        height: 50px;
        background: #081c15;
}

.third-level-navbar-ragasztott-hu > li {
        height: 50px;
        background: #081c15;
}

.third-level-navbar-kategoria-hu > li {
        height: 50px;
        background: #081c15;
}
    
.third-level-navbar-hu > li:hover { 
        background: #2d6a4f; 
}

.third-level-navbar-ragasztott-hu > li:hover { 
        background: #2d6a4f; 
}

.third-level-navbar-kategoria-hu > li:hover { 
        background: #2d6a4f; 
}
/* hu */

.navigationbar {
        clear: right;
        overflow: hidden;
        border: 1px solid #fffaec;
        border-radius: 2px;
        box-shadow: 0px 8px 8px 8px rgba(0, 0, 0, 0.2);
        background-color: #43291f;
}

.navigationbar a {
        float: left;
        font-size: 16px;
        color: #fffaec;
        text-align: center;
        padding: 16px;
        text-decoration: none;
}

.dropdown {
        float: left;
        overflow: hidden;
}

.dropdownsecond {
        float: left;
        overflow: hidden;
}

.dropdown .dropbutton {
        font-size: 16px;  
        border: none;
        outline: none;
        color: #fffaec;
        padding: 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
}

.navigationbar a:hover, .dropdown:hover .dropbutton {
        background-color: #a68a64;
}

.dropdown-content {
        display: none;
        position: absolute;
        background-color: #43291f;
        border: 1px solid #fffaec;
        border-radius: 2px;
        min-width: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
}

.dropdown-content a {
        float: none;
        color: #fffaec;
        padding: 16px;
        text-decoration: none;
        display: block;
        text-align: left;
}

.dropdownsecond-content a {
        float: none;
        color: #fffaec;
        padding: 16px;
        text-decoration: none;
        display: block;
        text-align: left;
}

.dropdown-content a:hover {
        background-color: #a68a64;
        border-radius: 2px;
}

.dropdownsecond-content a:hover {
        background-color: #a68a64;
        border-radius: 2px;
}

.dropdown:hover .dropdown-content {
        display: block;
}

.content-box {
        margin-top: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 16px;
        background-color: #ffffff;
        border: 1px solid #081c15;
        border-radius: 2px;
        box-shadow: 2px 4px 16px 2px #081c15;
        background-image: linear-gradient(#fffaec, #ffffff);
}

.home {
        margin: 32px;
        padding: 8px;
        text-align: justify;
        text-justify: inter-word;
        color: #081c15;
        font-family: 'Open Sans', sans-serif;
        border: 0px solid #43291f;
        border-radius: 5px;
        line-height: 24px;
}

.contact {
        margin: 32px;
        padding: 8px;
        text-align: justify;
        text-justify: inter-word;
        color: #081c15;
        font-family: 'Open Sans', sans-serif;
        border: 0px solid #43291f;
        border-radius: 4px;
        line-height: 24px;
}

.map {
        position: relative;
        display: flex;
        border: 0px solid #000;
        padding-bottom: 32px;
}

.content {
        text-align: justify;
        text-justify: inter-word;
        color: #081c15;
        font-family: 'Open Sans', sans-serif;
        border: 0px solid #43291f;
        border-radius: 2px;
        line-height: 24px;
}

.list {
        margin-left: 40px;
        list-style: square;
        color: #081c15;
}

.paragraphtab {
        margin-left: 8px;
}

.sitenav {
        border: 1px solid #081c15;
        border-radius: 3px;
        box-shadow: 1px 2px 0px 0px #081c15;
        padding-left: 0px;
        font-size: 12px;
        text-align: center;
        color: #fffaec;
        background-color: #2d6a4f;
        background-image: radial-gradient(circle, #2d6a4f 75%, #fffaec 100%);
        font-family: 'Montserrat', sans-serif;
}

.row {
        display: flex;
        color: #081c15;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.columngallery1 {
        flex: auto;
        max-width: 600px;
        border: 0px solid #081c15;
        border-radius: 5px;
}

.columngallery2 {
        flex: auto;
        padding-top: 8px;
        border: 0px solid #081c15;
        border-radius: 5px;
}

.column1 {
        flex: auto;
        max-width: 320px;
        border: 0px solid #081c15;
        border-radius: 5px;
}

.column2 {
        flex: auto;
        padding-top: 16px;
        border: 0px solid #081c15;
        border-radius: 5px;
}

.thinhr {
        border: 0;
        height: 0;
        border-top: 1px solid #a68a64;
}

.image {
        text-align: left;
        border: 1px solid #081c15;
        box-shadow: 1px 2px 0px 0px #081c15;
        margin-left: 1px;
}

.imagehomeleft {
        float: left;
        border: 1px solid #081c15;
        box-shadow: 1px 2px 0px 0px #081c15;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 16px;
}

#logo {
        float: right;
        margin-top: 8px;
        margin-bottom: 8px;
        
}

.top {
        display: flexbox;
}

.languagebar {
        float: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 8pt;
}

h1 {
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        color: #081c15;
        font-size: 4ch;
}

h2 {
        /*font-family: 'Open Sans', sans-serif;*/
        font-family: 'Montserrat', sans-serif;
        text-align: left;
        color: #081c15;
        font-size: 3ch;
}

.gallery  {
        float: left;
}

.mySlides {
        display: none;
        position: relative;
        z-index: 0;
}

img {
        vertical-align: middle;
}

.slideshow-container {
        max-width: 600px;
        position: relative;
        margin: 0;
        box-shadow: 2px 4px 16px 2px #081c15;
}

.prev,
.next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: #fffaec;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
}

.next {
        right: 0;
        border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
        background-color: #081c15;
}

.text {
        background-color: #2d6a4f95;
        border-radius: 4px;
        color: #fffaec;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: auto;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
}

.numbertext {
        color: #fffaec;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
}

.dot {
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 0 2px;
        background-color: #2d6a4f;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
}

.active,
.dot:hover {
        background-color: #081c15;
}

.fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
        opacity: .5
  }
  to {
        opacity: 1
  }
}

@keyframes fade {
  from {
        opacity: .5
  }
  to {
        opacity: 1
  }
}

@media only screen and (max-width: 300px) {
        .prev,
        .next,
        .text {
        font-size: 11px
  }
}